* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f12b;
}


::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.273);
}


::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 0, 0, 0.293);
}


.carousel-inner {
    height: 100%;
}

.leftPart {
    position: absolute;
    left: 0;
    top: 50%;
}

.carousel-control-next,
.carousel-control-prev {

    position: unset;
    opacity: 1;
    width: unset;
    border: 1px solid white;

}

.btnContent {
    position: relative;
    padding: 15px;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 100%;
    background-color: white;
    transition: 0.5s all;
    z-index: -1;
}

.carousel-control-next:hover .layer,
.carousel-control-prev:hover .layer {

    right: 0;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: unset;
}

.carousel-control-next i,
.carousel-control-prev i {
    z-index: 3;
    transition: 0.5s all;
}

.carousel-control-next:hover i,
.carousel-control-prev:hover i {
    color: red;
}

.text {
    font-size: 80px;
    position: absolute;
    left: 130%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: 2s all;
    width: 50%;
}

.carousel-item.active .text {

    left: 50%;

}

.carousel-item {
    overflow: hidden;
}

.nav-link {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.button {
    display: flex;
    height: 50px;
    padding: 0;
    background: rgba(0, 136, 204, 0.751);
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background: #008168;
}

.button:active {
    background: #006e58;
}

.button__text,
.button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
}

.button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
}

.logo {
    width: fit-content;
}

.new-card {
    bottom: 10%;

}

.build {
    background-color: #F3F7FC;
}

.last {

    text-decoration: none;
    color: black;

}

.footer {
    border-top: 4px #297CBA solid;
}

.mapdiv {
    width: 50%;
    margin: auto;
}

.mapdiv path {
    fill: white;
    stroke: #09c;
    stroke-width: 3px;
    transition: fill 0.3s;
}

.mapdiv path:hover {
    fill: #297CBA;



}


/* .divScroll {
    overflow: scroll;
    height: 50%;
    width: auto;
} */


/* rwd */


/* @media screen and (max-width:568px) {

    .member {
        width: 100%;
       
    }

}

@media screen and (min-width:569px) and (max-width:768px) {

    .member {
        width: 50%;
    }

}

@media screen and (min-width:769px) and (max-width:992px) {

    .member {
        width: 33.3333%;
    }

} */